<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"/>
    <title>订阅管理</title>
    <style type="text/css">

        .main {
		
            text-align: center; /*让div内部文字居中*/
            background-color: #fff;
            border-radius: 20px;
            width: 80%;
            height: 95%;
            margin: auto;
            position: absolute;
            top: 5%;
            left: 10%;
            right: 10%;
            bottom: 0;
        }

.divtext {
    border: ridge 2px;
    padding: 5px;
    margin: auto;
    left: 10%;
    right: 10%;
    width: 80%;
    min-height: 5em;
    overflow: auto;
}




    </style>
</head>
<body>
<div class="main">
    <form action="/" method="POST" id="f" >
        <textarea class="divtext" contentEditable name="vmess" id="vmess"  >{{info}}</textarea>

        
        <br>
        <label>追加订阅:<input name="type" type="radio" value="append" checked></label>

        <label>重置订阅:<input name="type" type="radio" value="renew">


        </label>
<input type="submit" id="btnGo">

    </form>


</div>

</body>
</html>
